/*
/* Smartphones (portrait and landscape) ----------- /
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .wrapper {
     min-width: 200px;
     margin: 0 17%;
   }
}

/* Smartphones (landscape) ----------- /
@media only screen and (min-width : 321px) {
  .wrapper {
     min-width: 200px;
     margin: 0 17%;
   }
}

/* Smartphones (portrait) ----------- /
@media only screen and (max-width : 320px) {
  .wrapper {
     min-width: 200px;
     margin: 0 17%;
   }
}

@media only screen  and (min-width : 720px) {
  .wrapper {
     min-width: 300px;
     margin: 0 17%;
   }
}

/* Desktops and laptops ----------- /
@media only screen  and (min-width : 1224px) {
  .wrapper {
     min-width: 300px;
     margin: 0 24%;
   }

   .table-bordered {
     min-width: 450px;
   }
}

/* Large screens ----------- /
@media only screen  and (min-width : 1824px) {
  .wrapper {
     min-width: 300px;
     margin: 0 25%;
   }

   .table-bordered {
     min-width: 675px;
   }
}
*/
html {
  background: unset; }

body {
  overflow: hidden;
  height: 100vh;
  background-color: transparent; }

.container {
  position: relative;
  left: 0;
  padding: 0px;
  background-color: transparent; }

.wrapper {
  position: relative;
  clear: both;
  content: " ";
  float: left;
  min-width: 470px; }

.table-shopping-cart {
  width: 1240px; }

.topnav-lol {
  height: 100px; }

.shopping-cart-lol {
  min-height: 500px; }

.left {
  position: relative;
  width: 70%;
  height: 100px;
  display: inline-block;
  float: left; }

.right {
  position: relative;
  width: 30%;
  height: 100px;
  display: inline-block;
  float: right; }

.header1 h1 {
  margin: 0.5em 0;
  font-size: 2em;
  text-align: center;
  background: -webkit-linear-gradient(#bfae80, #887040, #785A27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.table-bordered {
  background-color: #17181C;
  padding: 0 10px;
  border: 1px solid #614923;
  border-spacing: 0 5px;
  min-width: 1200px; }
  .table-bordered th {
    display: inline-block;
    text-align: left;
    font-family: "Beaufort for LOL", serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF; }
    .table-bordered th:first-child {
      margin-left: 20px; }
  .table-bordered tbody {
    display: block;
    max-height: 520px;
    width: 760px;
    overflow-y: auto; }
  .table-bordered tbody tr {
    vertical-align: top;
    background-color: #202529; }
  .table-bordered tbody td {
    color: #FFFFFF;
    padding: 12px 20px;
    font-size: 15px; }
    .table-bordered tbody td .item-description {
      color: #BAB18F;
      font-weight: 700; }
    .table-bordered tbody td .atc-btn {
      color: white;
      padding: 0 25px;
      font-family: "Spiegel", sans-serif;
      font-size: 10px;
      width: max-content; }

.td-atc-btn {
  vertical-align: middle;
  text-align: center; }

.table-btn-link {
  font-size: 10px;
  color: #737371; }
  .table-btn-link:hover, .table-btn-link:focus, .table-btn-link:visited {
    text-decoration: none;
    cursor: pointer; }
  .table-btn-link .svg-inline--fa {
    font-size: 25px;
    margin-bottom: 0;
    color: #CDBE91; }

.img-frame {
  border: 1px solid #383C37;
  height: 90px; }

.order-summary-header {
  font-weight: 700 !important;
  border-bottom: 1px solid #614923; }
  .order-summary-header .no-of-items {
    color: #BAB18F; }

.order-summary-panel {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  width: 380px;
  padding-top: 120px;
  margin-right: 65px; }

.order-label {
  float: left;
  height: 110px; }
  .order-label .items {
    position: relative;
    height: 40px; }
  .order-label label {
    font-size: 15px;
    color: #FFFFFF; }

.total-order-label {
  float: left;
  position: relative; }
  .total-order-label .items {
    position: relative; }
  .total-order-label label {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF; }

.order-pricing {
  float: right;
  color: #BAB18F;
  font-size: 16px;
  font-weight: 700;
  margin-right: 75px;
  height: 110px; }
  .order-pricing .items {
    height: 40px; }
    .order-pricing .items .input-promocode {
      background-color: #182A36;
      border: 1px solid #59B5F4;
      margin-bottom: 20px;
      padding: 4px;
      color: #FFFFFF;
      vertical-align: middle;
      font-family: "Spiegel", serif; }
    .order-pricing .items .svg-inline--fa {
      font-size: 25px;
      margin-left: 10px;
      margin-bottom: 5px;
      color: #59B5F4; }

.total-order-pricing {
  float: right;
  color: #BAB18F;
  font-size: 16px;
  font-weight: 700;
  margin-right: 220px; }
  .total-order-pricing label {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF; }

.order-summary-btn {
  text-align: center; }
  .order-summary-btn .c-btn {
    width: 300px;
    height: 40px; }
  .order-summary-btn .ptc-btn {
    font-family: "Spiegel", serif;
    color: #FFFFFF; }
  .order-summary-btn .cs-btn {
    font-family: "Spiegel", serif;
    color: #FFFFFF; }
  .order-summary-btn .order-summary-error-text {
    font-family: "Spiegel", serif;
    font-size: 14px;
    font-weight: 700;
    color: #FD0000; }

tbody::-webkit-scrollbar {
  width: 3px; }

tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

tbody::-webkit-scrollbar-thumb {
  background-color: #C7A96D;
  outline: 1px solid slategrey; }
