.right {
  right: 0;
  top: 0;
  float: right;
  display: block;
  position: relative;
}

.righttab {
  width: auto;
  border: 1px solid #BFC3CA;
  background-color: #F6F7F9;
  padding: 12px 12px;
  min-height: 160px;
  margin-bottom: 25px;
}

.righttab .imgcontainer img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 12px;
}

.righttab a:not(:first-child) {
  margin-top: 30px;
}

.righttab .a {
  font-weight: 700;
  margin-left: 50px;
  color: #4267b2;
}

.righttab a:hover {
  margin-left: 50px;
}

.storyspace {
  margin-bottom: 10px;
}

.sponsored {

}
