.topnav {
  left: 0;
  top: 0;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  z-index: 1;
  position: sticky;
  width: 110%;
  height: 40px;
  margin: 0 auto;
  padding: 6px;
}

.navbar-left {
  left: 0;
  top: 5px;
  float: left;
  position: relative;
}

.navbar-right  {
  min-width: 30px;
  right: 0;
  top: 12px;
  float: right;
  position: relative;
  display: inline;
  overflow: visible;
  /*font-size: 1vw;*/
}

.navbar-left .items {
  display: inline;
  position: relative;
  overflow:hidden;
}

.navbar-right .items {
  display: inline;
  position: relative;
  overflow:hidden;
}

.fbbutton {
  vertical-align: middle;
}

.fbicon {
  font-size: 30px;
}

.search {
  vertical-align: middle;
  display: inline;
}

.searchbar {
  border: none;
}

.btn-searchbar {
  border: none;
  background: white;
  display: inline;
  padding: 2px 6px;
}

.navbar-right a {
  color: #ffffff;
  font-weight: 700;
}
