/* Add a black background color to the top navigation */
.topnav {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    overflow: hidden;
    position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 6px;
    margin-top: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #365899;
    color: #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.user a:not(:first-child) {
  border-left: 1px solid #365899;
}

.actions a {
  font-size: 16px;
  vertical-align: middle;
  margin-top: 12px;
  color: #365899;
  padding: 0px 6px;
}

.actions .fa-caret-down {
  font-size: 18px;
  vertical-align: middle;
  color: #365899;
  margin-top: 7px;
}

.actions a:hover {
  background-color: transparent;
  color: #fff;
}

.actions .fa-caret-down:hover {
  background-color: transparent;
  color: #fff;
}

.fbicon {
  color: white;
  font-size: 28px;
  position: relative;
  display: inline;
  vertical-align: middle;
}

.fbgroup {
  text-align: right;
  margin-top: 6px;
}

.fbgroup .btn-xs {
  margin-bottom: 5px;
}

.searchbar {
  width: 70%;
  display: inline-table;
  vertical-align: middle;
  height: 20px;
  margin-bottom: 5px;
}

.searchbar-btn {
  background-color: transparent;
}

.topleft-navbar {
  display: inline;
}

.user {
  text-align: right;
}

.find {
  margin-right: 22px;
}

.actions {
  display: inline;
}

.last {
  border-right: 1px solid #365899;
}
