.posts {
  position: relative;
  left: 220px;
  top: 10px;
  width: 40vw;
  float: left; }

.pubpost {
  margin-top: 20px;
  width: auto;
  border: 1px solid #BFC3CA;
  background-color: #F6F7F9;
  padding: 0px 12px;
  min-width: 331px; }

.postactivities {
  min-height: 30px;
  padding: 12px 0px;
  border-bottom: 1px solid #BFC3CA; }

.textpost {
  height: 15vh;
  padding: 12px 0px; }
  .textpost .imgcontainer {
    margin-left: 10px; }
    .textpost .imgcontainer img {
      max-width: 40px;
      max-height: 40px;
      margin-left: 5px; }

.userPosted {
  margin-left: 50px;
  color: #4267b2;
  font-weight: bold; }
  .userPosted:hover {
    color: #4267b2; }

.timePosted {
  margin-left: 50px;
  color: #BFC3CA;
  font-size: 11px; }

.postPrivacy {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 10px; }

.txt p {
  margin-top: 10px; }

.postactions {
  border-top: 1px solid #BFC3CA;
  min-height: 20px;
  background-color: #F6F7F9;
  padding: 6px 8px;
  margin-top: 8px; }
  .postactions a {
    margin-left: 90px;
    color: #1d2129;
    font-size: 14px;
    padding: 0px 20px;
    vertical-align: middle;
    text-decoration: none; }
    .postactions a:hover {
      color: #1d2129;
      background-color: #E9EBEE; }
  .postactions i {
    margin-right: 6px; }

.photopost {
  min-width: 400px;
  min-height: 200px;
  display: inline-block;
  position: relative; }
  .photopost img {
    min-width: 400px;
    min-height: 200px;
    display: inline-block;
    position: relative; }

.txt {
  min-height: 300px; }
