body {
  margin: 0;
  font-family: Roboto;
  /*font-size: 1vw;*/
  min-width: 645px;
  width: 100%;
  height: 200vh;
}

.wrapper {
  overflow: visible;
  clear: both;
  margin: 0px 10%;
}

.disable {
  visibility: hidden;
}

.container {
  position: relative;
  width: 90vw;
  left: 0;
  padding: 0px;
  height: auto;
  margin-left: 6%;
  min-width: 760px;

  &:not(:last-child) {
    margin-bottom: 20%;
  }
}

.btn {
  background: none;
  border: none;
}
